:root {
  /*Headings, Footer, Icons, Logo, etc... */
  --blue: #001D5D;
  /*All Caps Heading, Button Text. Map Items */
  --green: #42A418;
  /*Button Background*/
  --palegreen: #D9F0D0;
  /*Shadow base color*/
  --black: #000000;
  /*White is used in the design */
  --white: #FFFFFF;
  /*Body Text, Form Fields*/
  --gray: #777777;
  /*Testimonials Background*/
  --lightgray: #F6F6F6;
  /*Slider Buttons*/
  --pale: #B8BFCF;
  /*Testimonials Slider*/
  --shadow: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--blue);
}



/* General Styling */
/* #region */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--blue);
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.large-body {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.regular-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.small-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

p {
  color: var(--gray);
}

button {
  background-color: var(--palegreen);
  color: var(--green);
  width: 168px;
  height: 48px;
  /* Button height differs in Figma design */
  border: none;
  border-radius: 2px;

  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;

  /* padding: 10px 0;
  margin: 10px 0; */

  cursor: pointer;
}

button:hover {
  background-color: var(--green);
  color: var(--white);
}

.all-caps-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--green);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/* #endregion */

/* Navigation styles */
/* #region */
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 64px;
  z-index: 1;
  background-color: var(--white);
}


nav a {
  color: var(--blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.nav-item {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;

}

.navicon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  filter: invert(8%) sepia(70%) saturate(3395%) hue-rotate(215deg) brightness(99%) contrast(105%);
}



/* #endregion */

/* Hero styles */
/* #region */

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  /* adjust to your desired height */
  overflow: hidden;
  color: var(--white);
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--white);
}

.hero-content p {
  margin-bottom: 20px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* letter-spacing: 0em; */
  text-align: left;
}

.hero-content a {
  display: inline-block;
  /* padding: 10px 20px; */
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

.hero-content a:visited {
  color: var(--white);
}

.video-container {
  display: flex;
  align-items: center;
}

.video-svg {
  position: relative;
}


/* #endregion */

/* Artist sections */
/* #region */
.artist-container {
  display: flex;
  /* align-items: flex-start; */
  width: 80%;
  height: 100%;
  justify-content: center;
  margin: 128px auto 128px auto;
}

.artist-column {
  width: 50%;
}

.artist {
  max-width: 100%;
  object-fit: contain;
}

.artist-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 32px;
}

.content h3 {
  font-size: 2.2vw;
}

.content p {
  /* font-size: .9vw; */
  line-height: 1.8vw;
}

/* #endregion */

/* New Releases Section */
/* #region */
.release-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin: 48px auto;
  text-align: center;
}

.release-container p {
  width: 40%;
  padding: 30px;
}

/* #endregion */

/* Card Section */
/* #region */
.carousel-container {
  width: 100%;
  /* position: relative; */
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.card {
  width: 100%;
  height: 324px;
  /* flex: 100% 0 33.33%; */
  padding: 60px 20px;
  background-color: #f1f1f1;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 1vw;
}

.card.active {
  background-color: #ddd;
  /* margin: 0 100px; */
}

.album-cover-column {

  margin-right: 23px;
}

.album-cover-column img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.album-info-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  max-height: 100%;
}


/* Arrow Styles */
.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow-left svg {
  pointer-events: all;
  cursor: pointer;
  margin-right: 10px;
}

.arrow-right svg {
  pointer-events: all;
  cursor: pointer;
  margin-left: 10px;
}

.arrow:hover {
  /* background-color: #555; */
}

/* #endregion */

/* Form Styles */
/* #region */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 0 50px; */
  width: 100%;
  height: 780px;
}

.form-column {
  width: 60%;
  margin: 50px
  
}

.form-image {
  height:780px;
  width: 40%;
  overflow: hidden;
}

.form-image img {
  height: 100%;
  object-fit: cover;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type=text],
input[type=email],
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  height: 200px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row input[type=text],
.form-row input[type=email] {
  width: 48%;
}

.form-row select {
  width: 48%;
}

.form-row label {
  width: 48%;
}

/* #endregion */



/* CSS rules for screens with a width of 1080px and below */
@media screen and (max-width: 1080px) {

  /* Artist section */
  .artist-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .content {
    margin-left: 0;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .content h3 {
    margin: 2vw 0 0 0;
    /* font-size: 3vw; */
    font-size: 40px;
    text-align: center;
  }

  .content p {
    margin: 2vw 0 4vw 0;
    /* font-size: 1.8vw; */
    font-size: 14px;
    /* line-height: 3vw; */
    line-height: 20px;
    text-align: justify;
  }

  .content button {
    /* font-size: 2vw; */
    font-size: 16px;
    width: 40%;
    height: 50px;
  }

  /* New Releases section */
  .release-container p {
    width: 80%;
  }
}

@media screen and (max-width: 1680px) {
  .card {
    /* width: 100%; */
    /* min-width: 578px; */
    height: 100%;
    padding: 68px 20px;
    margin: 10px;
  }

  .carousel {
    display: flex;

    transition: transform 0.3s ease-in-out;
  }

  .album-info-column {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .carousel {
    flex-wrap: wrap;
  }

  .card {
    width: 60%;
    height: 100%;
    padding: 20px;
    margin: 20px 0;
  }

  .album-info-column h4 {
    font-size: 2vw;
  }

  .album-info-column p {
    font-size: 1.3vw;
    line-height: 3vw;
  }

  .arrow-container {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .card {
    flex-wrap: wrap;
  }

  .album-info-column h4 {
    font-size: 4vw;
    margin: 10px 0;
  }

  .album-info-column p {
    font-size: 2vw;
    line-height: 3vw;
    margin: 10px 0;
  }

  .card.active {
    /* Need to remove */
  }

}