:root {
  /*Headings, Footer, Icons, Logo, etc... */
  --blue: #001D5D;
  /*All Caps Heading, Button Text. Map Items */
  --green: #42A418;
  /*Button Background*/
  --palegreen: #D9F0D0;
  /*Shadow base color*/
  --black: #000000;
  /*White is used in the design */
  --white: #FFFFFF;
  /*Body Text, Form Fields*/
  --gray: #777777;
  /*Testimonials Background*/
  --lightgray: #F6F6F6;
  /*Slider Buttons*/
  --pale: #B8BFCF;
  /*Testimonials Slider*/
  --shadow: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--blue);
}

/* General Styling */
/* #region */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--blue);
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.large-body {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.regular-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.small-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

p {
  color: var(--gray);
}

button {
  background-color: var(--palegreen);
  color: var(--green);
  width: 168px;
  height: 48px;
  border: none;
  border-radius: 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}

button:hover {
  background-color: var(--green);
  color: var(--white);
}

.all-caps-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/* #endregion */

/* Navigation styles */
/* #region */
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  z-index: 1;
  background-color: var(--white);
  display: flex;
  align-items: center;
}

nav a {
  color: var(--blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 6px auto;
  border-radius: 2px;
  background-color: var(--blue);
  transition: all 0.3s ease-in-out;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.navicon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  filter: invert(8%) sepia(70%) saturate(3395%) hue-rotate(215deg) brightness(99%) contrast(105%);
}

.nav-signup {
  margin-right: 30px;
}

.nav-logo {
  margin-left: 30px;
}



/* #endregion */

/* Hero styles */
/* #region */

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  color: var(--white);
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.hero img:hover {
  transform: scale(1.3);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--white);
}

.hero-content p {
  margin-bottom: 20px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.hero-content a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
}

.hero-content a:visited {
  color: var(--white);
}

.video-container {
  display: flex;
  align-items: center;
}

.video-svg {
  position: relative;
}


/* #endregion */

/* Artist sections */
/* #region */
.artist-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 128px auto 128px auto;
}

.artist-column {
  width: 50%;
}

.artist {
  max-width: 100%;
  object-fit: contain;
}

.artist-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 32px;
}

.artist-content p {
  line-height: 50px;
}


/* #endregion */

/* New Releases Section */
/* #region */
.release-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px auto;
  text-align: center;
}

.release-container p {
  width: 40%;
  padding: 30px;
}

/* #endregion */

/* Card Section */
/* #region */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  transition: transform .4s ease-in-out;
}

.card {
  width: 100%;
  height: 324px;
  padding: 2% 1%;
  box-shadow: 0px 8px 44px rgba(0, 0, 0, 0.05);
  text-align: left;
  display: flex;
  justify-content: space-between;
  opacity: 50%;
}

.card.active {
  opacity: 100%;
  margin: 10px;
}

.album-cover-column {
  margin-right: 23px;
}

.album-cover-column img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.album-info-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  max-height: 100%;
}

.album-info-column p {
  line-height: 150%;
}

/* Arrow Styles */
.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow-left svg {
  pointer-events: all;
  cursor: pointer;
  margin-right: 10px;
}

.arrow-right svg {
  pointer-events: all;
  cursor: pointer;
  margin-left: 10px;
}

.arrow-container .arrow-left:hover circle,
.arrow-container .arrow-right:hover circle {
  fill: var(--blue);
}
.arrow-container .arrow-left:hover path,
.arrow-container .arrow-right:hover path {
  fill: var(--white);
}

/* #endregion */

/* Map Styles */
/* #region */
iframe {
  width: 100%;
  height: 600px;
  border: none;
  margin-top: 50px;
}
/* #endregion */

/* Form Styles */
/* #region */
.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 780px;
}

.form-column {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 50px;
}

.form-column p {
  width: 60%;
}


.form-image {
  height:780px;
  width: 40%;
  overflow: hidden;
}

.form-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
select,
textarea {
  display: block;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 10px;
}

select {
  appearance: none;
  background-image: url("assets/Icons/basic/chevrondown.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 8px center;
  padding-right: 24px;
  color: var(--blue);
}

select option {
  color: var(--blue);
}

textarea {
  height: 150px;
  min-height: 100px;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.form-row input[type=text],
.form-row input[type=email] {
  width: 48%;
}

.form-row select {
  width: 48%;
}

.form-row label {
  width: 48%;
}

.contact-form {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

input, label, select, textarea, option {
  color: var(--gray);
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid var(--blue);
  border: none;
  border-radius: 2px;
  color: var(--blue);
}

#message-received {
  margin-top: 10px;
  font-size: 24px;
  font-style: italic;
  color: var(--blue);
}


/* #endregion */

/* Footer Styles */
/* #region */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  padding: 50px 30px 25px 30px;
}
.site-map-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  gap: 70px;
}

.footer-column {
  width: 20%;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.site-map-container p {
  color: var(--white);
  margin-bottom: 20px;
}

hr {
  width: 95%;
  margin: 30px 0;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 95%;
}

.policy-terms-container {
  text-align: left;
  display: inline-block;
}

.policy-terms-container a {
  color: var(--white);
  text-decoration: none;
  margin-right: 100px;
}

.socials-container img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  filter: brightness(0) invert(1);
}
/* #endregion */

/* Media Queries */
/* #region */


@media screen and (max-width: 1680px) {
  .card {
    height: 100%;
    padding: 2% 1%;
  }

  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .album-info-column {
    width: 100%;
  }

  .album-info-column p {
    line-height: 100%;
  }

  .artist-content p {
    line-height: 40px;
  }
}

@media screen and (max-width: 1560px) {
  .artist-content p {
    line-height: 30px;
  }
}

@media (max-width: 1440px) {
  .carousel {
    flex-wrap: wrap;
  }

  .card {
    width: 60%;
    height: 100%;
    padding: 20px;
    margin: 20px 0;
    opacity: 100%;
  }

  .album-info-column h4 {
    font-size: 2vw;
  }

  .album-info-column p {
    font-size: 1.3vw;
    line-height: 3vw;
  }

  .arrow-container {
    display: none;
  }

  .artist-container {
    width: 90%;
  }
  .artist-container h3 {
    font-size: 36px;
  }

  .artist-content p {
    font-size: 14px;
    line-height: 25px;
  }

  .artist-content button {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
}

@media screen and (max-width: 1080px) {
  /* Artist section */
  .artist-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .artist-column {
    width: 100%;
    margin-bottom: 32px;
  }

  .artist-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  
  .artist-content h3, .artist-content p {
    margin-bottom: 30px;
  }

  .artist-content button {
    align-self: center;
  }


  .column {
    width: 100%;
  }

  .content {
    margin-left: 0;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .content h3 {
    margin: 2vw 0 0 0;
    font-size: 40px;
    text-align: center;
  }

  .content p {
    margin: 2vw 0 4vw 0;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  .content button {
    font-size: 16px;
    width: 40%;
    height: 50px;
  }

  /* New Releases section */
  .release-container p {
    width: 80%;
  }

  .form-container {
    flex-direction: column;
    height: auto;
  }

  .form-column {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .form-column p {
    width: 100%;
    margin: 20px 0;
  }

  .form-column button {
    text-align: center;
  }

  .form-image {
    width: 100%;
    height: auto;
  }

  /* Footer section */
  .site-map-container {
    gap: 50px;
  }

  .nav-item {
    margin-right: 16px;
  }
}

@media screen and (max-width: 900px) {
  .nav-items {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 300px;
  }

  .nav-items.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .nav-signup {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .hero-content {
    width: 80%
  }
  
  .hero h1 {
    font-size: 40px;
  }
  
  .card {
    flex-wrap: wrap;
  }

  .album-info-column h4 {
    font-size: 4vw;
    margin: 10px 0;
  }

  .album-info-column p {
    font-size: 2vw;
    line-height: 3vw;
    margin: 10px 0;
  }

  .site-map-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .policy-terms-container {
    margin-bottom: 20px;
    text-align: center;
  }
  .policy-terms-container a {
    display: block;
    margin-bottom: 10px;
  }

  .bottom-footer {
    flex-direction: column;
  }
  .policy-terms-container {
    order: 1;
  }

  .policy-terms-container a {
    margin: 10px auto;
  }

  .socials-container {
    order: 3;
  }

  
}
/* #endregion */