:root {
  /*Headings, Footer, Icons, Logo, etc... */
  --blue: #001D5D;
  /*All Caps Heading, Button Text. Map Items */
  --green: #42A418;
  /*Button Background*/
  --palegreen: #D9F0D0;
  /*Shadow base color*/
  --black: #000000;
  /*White is used in the design */
  --white: #FFFFFF;
  /*Body Text, Form Fields*/
  --gray: #777777;
  /*Testimonials Background*/
  --lightgray: #F6F6F6;
  /*Slider Buttons*/
  --pale: #B8BFCF;
  /*Testimonials Slider*/
  --shadow: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--blue);
}



/* General Styling */
/* #region */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--blue);
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.large-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.regular-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.small-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

p {
  color: var(--gray);
}

button {
  background-color: var(--palegreen);
  color: var(--green);
  width: 168px;
  height: 48px; /* Button height differs in Figma design */ 
  border: none;
  border-radius: 2px;

  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;

  padding: 10px 0;
  margin: 10px 0;

  cursor: pointer;
}

button:hover {
  background-color: var(--green);
  color: var(--white);
}
/* #endregion */

/* Navigation styles */
/* #region */
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 64px;
  z-index: 1;
  background-color: var(--white);
}


nav a {
  color: var(--blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.nav-item {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  
}

.navicon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  filter: invert(8%) sepia(70%) saturate(3395%) hue-rotate(215deg) brightness(99%) contrast(105%);
}



/* #endregion */

/* Hero styles */
/* #region */

  .hero {
    position: relative;
    width: 100%;
    height: 500px; /* adjust to your desired height */
    overflow: hidden;
    color: var(--white);
  }

  .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--white);
  }

  .hero-content p {
    margin-bottom: 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* letter-spacing: 0em; */
    text-align: left;
  }

  .hero-content a {
    display: inline-block;
    /* padding: 10px 20px; */
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
  }

  .hero-content a:visited {
    color: var(--white);
  }

  .video-container {
    display: flex; 
    align-items: center;
  }

  .video-svg {
    position: relative;
  }

  
/* #endregion */

/* Artist sections */
/* #region */
.artist-container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 128px auto;
}

.column {
  width: 50%;
}

.artist {
  height: 100%;
  max-width: 100%;
  
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 20px;
}

.button {
  align-self: flex-start;
}


  /* #endregion */

/* New Releases Section */
/* #region */
.centered-container {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.centered-container h3, .centered-container p {
  text-align: center;
}

.centered-container p {
  margin: 0 350px;
}
/* #endregion */

/* Card Section */
/* #region */

.card-section {
  height: 595px;
  border: solid 1px blue;
}

.card-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 570px;
  border: 1px solid red;
}

.card-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 189px;
  width: 188px;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}

.card-text h4:first-child {
  margin-top: 0;
}

.card-text h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-arrows {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.arrow-image {
  width: 50px;
  height: 50px;
}
/* #endregion */


@media screen and (max-width: 767px) {
  .artist-container {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px){
  .artist-container {
    margin: 128px 50px;
  }
}
